
<body>
<section id="main">
    <section id="job-listings" class="job-listings-section">
        <div class="surrounding-box">
            <h1>Contact Us</h1>
        </div>
    </section>
</section>

<h2>Main Office: 201 Washington St Sw, Atlanta, Georgia</h2>
<h2>Phone Number: (678)-491-2863</h2>
    <main>
        
        <form #contactUs="ngForm" (ngSubmit)="onSubmit(contactUs)">
            <label for="name">Your Name:</label>
            <input type="text" id="name" name="name" ngModel required>

            <label for="email">Your Email:</label>
            <input type="email" id="email" name="email" ngModel required>

            <label for="subject">Your Subject:</label>
            <input type="subject" id="subject" name="subject" ngModel required>

            <label for="message">Your Message:</label>
            <textarea id="message" name="message" rows="4" ngModel required></textarea>

            <div *ngIf="contactUs.invalid && contactUs.submitted" class="alert alert-danger">
                Please fill in all required fields.
            </div>

            <button type="submit">Submit</button>
        </form>
    </main>
</body>
