<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Isha Palace - About Us</title>
    <!-- Include any necessary CSS or JavaScript links here -->
</head>

<body>
    <main>
        <section id="about-us" class="about-section">
            <div class="surrounding-box">
                <h1>About Isha Palace</h1>
            </div>
        </section>
        <section>
            <h2>Our Story</h2>
            <p>The name Isha, meaning 'divine one' or 'one who rules', was chosen to reflect the luxury of Isha Palace 
                and the divinity of Indian culture. Our hotel is an Indian-themed hotel. Isha Palace is a luxury hotel based in Atlanta, Georgia. 
                Everything from the architecture to the food is designed by professionals who strive to make the hotel a full Indian experience. We wanted this hotel to be elegant, but also a new experience for most people. 
                That's when we thought about an India-themed hotel that brought the sights and tastes of India right here to Atlanta city. Now you can experience the art, 
                culture, and cuisine of India without going out of the country, and for those who feel a little homesick, a small slice of home is right here. </p>
      
        </section>
        <section>
            <h2>Our Mission</h2>
            <p>Our mission is to create lasting memories for our guests by delivering exceptional service and
                personalized
                experiences. We aim to be the epitome of hospitality in every way.</p>
        </section>
        <section>
            <h2>Our Benefits</h2>
            <table>
                <tr>
                    <td>
                        <div class="card">
                            <img src="/assets/discountedmeals.png" alt="meals">
                            <p>Discounted Meals</p>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="/assets/travelprices.png" alt="travelprice">
                            <p>Reduced Travel Prices</p>
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="/assets/flexibleschedules.png" alt="schedules">
                            <p>Flexible Schedules</p>  
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="card">
                            <img src="/assets/medicalcoverage.png" alt="medical">
                            <p>Medical, Dental, Vision Coverage</p>  
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="/assets/lifeinsurancepolicies.png" alt="lifeinsurance">
                            <p>Life Insurance Policies</p>  
                        </div>
                    </td>
                    <td>
                        <div class="card">
                            <img src="/assets/401k.png" alt="retirement">
                            <p>401k</p>  
                        </div>
                    </td>
                </tr>
            </table>
        </section>
    </main>

</body>

</html>
