    @import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

        
        /* Custom CSS for Hover Effect */
        @media (min-width: 768px) {
            .navbar-nav .nav-item.dropdown:hover .dropdown-menu {
                display: block;
            }
        }

        .navbar-brand img {
            max-width: 110px; /* Adjust the maximum width of the image */
            margin-right: 10px; /* Add some right margin to the image */
            border-radius: 50%; /* Apply border-radius for a circular shape (optional) */
        }

        /* Custom styles to match the image color */
        .navbar {
            background-color: #242323; /* Adjust the background color to match the image color */
            color: #ecf0f1; /* Adjust the text color to match the image color */
            font-family: 'Cormorant Garamond', sans-serif;
            font-size: 1vw;
        }


        .navbar-nav .nav-link {
            color: #ecf0f1; /* Adjust the text color of the navbar links */
        }

        .navbar-nav .nav-link:hover {
            color: gray; /* Adjust the text color of the navbar links */
        }

        .navbar-toggler-icon {
            background-color: #ecf0f1; /* Adjust the color of the navbar toggler icon */
        }

        .navbar-toggler:focus,
        .navbar-toggler:active {
            outline: none; /* Remove the outline on focus/active state */
        }

        /* Additional styles for the dropdown menu */
        .navbar-nav .dropdown-menu {
            background-color: #242323; /* Adjust the background color of the dropdown menu */
            border: none; /* Remove border for a cleaner look */
        }

        .navbar-nav .dropdown-item {
            color: #ecf0f1; /* Adjust the text color of the dropdown items */
            font-size: .7vw;
        }

        .navbar-nav .dropdown-item:hover {
            background-color: #242323; /* Adjust the background color on hover */
        }