<body>
    <main>
    <section id="services" class="services-section">
        <div class="surrounding-box">
           <h1>Gallery</h1>
       </div>
    </section> 

    <div class="row">
        <!-- First Row -->

        <!-- First Image -->
        <div class="col-lg-4 col-md-4 mb-4">
            <div class="image-container position-relative">
                <img src="/assets/palace1.png" class="uniform-img"  alt="Palace Image 1">
                <div class="image-caption">Exterior of Isha Palace & Outdoor Dining</div>
            </div>
        </div>

        <!-- Second Image -->
        <div class="col-lg-4 col-md-4 mb-4">
            <div class="image-container position-relative">
                <img src="/assets/palace2.png" class="uniform-img"  alt="Palace Image 2">
                <div class="image-caption">Red-themed Shaandaar Suite at Isha Palace</div>
            </div>
        </div>

        <!-- Third Image -->
        <div class="col-lg-4 col-md-4 mb-4">
            <div class="image-container position-relative">
                <img src="/assets/palace10.jpg" class="uniform-img"  alt="Palace Image 3">
                <div class="image-caption">Balcony at Isha Palace in the Night</div>
            </div>
        </div>
    </div>

    <div class="row">
        <!-- Second Row -->

        <!-- Fourth Image -->
        <div class="col-lg-4 col-md-4 mb-4">
            <div class="image-container position-relative">
                <img src="/assets/palace3.png" class="uniform-img"  alt="Palace Image 4">
                <div class="image-caption">Living Space in Isha Palace's Shaahee Suite</div>
            </div>
        </div>

        <!-- Fifth Image -->
        <div class="col-lg-4 col-md-4 mb-4">
            <div class="image-container position-relative">
                <img src="/assets/palace5.png" class="uniform-img"  alt="Palace Image 5">
                <div class="image-caption">Bright-Colored Kohinoor Suite at Isha Palace</div>
            </div>
        </div>

        <!-- Sixth Image -->
        <div class="col-lg-4 col-md-4 mb-4">
            <div class="image-container position-relative">
                <img src="/assets/palace4.png" class="uniform-img"  alt="Palace Image 6">
                <div class="image-caption">Orange-themed Khushi Room at Isha Palace</div>
            </div>
        </div>
    </div>
</main>
</body>
