
<body>
    <main>
        <section id="services" class="services-section">
                <div class="green-box">
                <h1>Services</h1>
            </div>
        </section>
        
    <table>
        <tr>
            <td>
                <div class="card">
                    <img src="/assets/wifi.png" alt="Wifi" class="cardImage">
                    <h2>Free Wifi</h2>
                    <p>At Isha Palace, we offer excellent Wi-Fi as a complimentary benefit. Visit the front desk for additional information and/or questions. </p>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="/assets/garden.png" alt="Garden" class="cardImage">
                    <h2>Garden</h2>
               <!--     <p>Our hotel contains a diverse collection of colorful flowers and decorations, such as the elephant fountain, that creates a scenic view with a beautiful location to take pictures.</p> -->
            <p>Our hotel features a vibrant mix of colorful flowers and unique decorations, including an elephant fountain, offering picturesque scenery for photo opportunites</p>  
            </div>
            </td>
            <td>
                <div class="card">
                    <img src="/assets/pool.png" alt="Pool" class="cardImage">
                    <h2>Pool</h2>
                    <p>Isha Palace provides some refreshing fun and fitness with our relaxing lounge chairs and pool.</p>  
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="/assets/photography.png" alt="Photograph" class="cardImage">
                    <h2>Photoshoots</h2>
                    <p>With our scenic garden of fragrant flowers and ravishing water fountains, our hotel offers the perfect spots for photoshoots. Go to the front desk to book a time slot with photographers to cherish the beauty of nature, Indian style.</p>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="/assets/housekeeping.png" alt="Housekeeping" class="cardImage">
                    <h2>Daily Housekeeping</h2>
                    <p>Isha Palace provides convenient and timely housekeeping services to ensure all rooms maintain cleanliness and elegance. Rooms are cleaned daily and sheets and towels are changed as well.</p>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="/assets/dining.png" alt="Dining" class="cardImage">
                    <h2>In-Room Dining Service</h2>
                    <p>Isha Palace provides fresh and tasty food right to your room with the In-Room Dining Service amenity. This amenity allows you to relax and stay in your room while your food is brought to you. This amenity is available at any time at your convenience. </p>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="card">
                    <img src="/assets/venues.png" alt="Venues" class="cardImage">
                    <h2>Venues</h2>
                    <p>At Isha Palace, we also have venues where guests can host traditional or modern weddings. We also provide four different packages in addition to our venue. </p>
                </div>
            </td>
            <td>
                <div class="card">
                    <img src="/assets/spa.png" alt="Spa" class="cardImage">
                    <h2>Spa</h2>
                    <p>The Baadalon Spa offers a range of Eastern and Western massage treatments that will relax, revitalize and rejuvenate the mind, body, and spirit. Come to the front desk to book your appointment now!</p>
                </div>

            <td>
                <div class="card">
                    <img src="/assets/meetingroom.png" alt="MeetingRoom" class="cardImage">
                    <h2>Meeting Room</h2>
                    <p>At Isha Palace, we offer a complimentary meeting room for our guests here for business purposes. See the front desk for timings to book a room. </p>
                </div>
            </td>
        </tr>
    </table>
    </main>
    

</body>

