/* Your existing styles */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

body, html{
    padding: 0;
    margin: 0;
    color: white;
    font-family: 'Cormorant Garamond', sans-serif;
    overflow-x: hidden;
    background-color: #6d6969; /* Set the background color to gray */
}

img {
    display: block;
    width: 100%;
    height: auto;
}



.title {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 10vh;
    margin-top: -2vh; /* Half of the font-size */
    margin-left: -10%; /* Half of the container's width */
    animation: tada; /* Referring directly to the animation's @keyframe declaration */
    animation-duration: 2s; /* Don't forget to set a duration! */
    color:white;
    background-color: #242323; /* Semi-transparent black background */
    padding: 10px;

}


