
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Isha Palace</title>
    <script src="https://kit.fontawesome.com/ee7a178a15.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
            <div class="content-box">
                <p class="brandName">Isha Palace</p>
                <br>
                <div class="hero-text">
                    <p>Isha Palace is a luxury hotel with great amenities!</p>
                </div>
                <a routerLink="/aboutUs" class="hero-img-btn">About us!</a>
            </div>
            
            <div class="image-container position-relative">
                <img src="/assets/palace1.jpeg" class="w-100 shadow-1-strong rounded mb-4" alt="Palace Image 1">
                <div class="image-caption">Caption for Image 1</div>
            </div>

            <div class="image-container position-relative">
                <img src="/assets/palace2.png" class="w-100 shadow-1-strong rounded mb-4" alt="Palace Image 2">
                <div class="image-caption">Caption for Image 2</div>
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0">
            <div class="image-container position-relative">
                <img src="/assets/palace10.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Palace Image 3">
                <div class="image-caption">Caption for Image 3</div>
            </div>

            <div class="image-container position-relative">
                <img src="/assets/palace3.png" class="w-100 shadow-1-strong rounded mb-4" alt="Palace Image 4">
                <div class="image-caption">Caption for Image 4</div>
            </div>
        </div>

        <div class="col-lg-4 mb-4 mb-lg-0" id="third-col">
            <div class="image-container position-relative">
                <img src="/assets/palace5.png" class="w-100 shadow-1-strong rounded mb-4" alt="Palace Image 5">
                <div class="image-caption">Caption for Image 5</div>
            </div>

            <div class="image-container position-relative">
                <img src="/assets/palace4.png" class="w-80 shadow-1-strong rounded mb-4" alt="Palace Image 6">
                <div class="image-caption">Caption for Image 6</div>
            </div>
        </div>
    </div>
</body>

</html>



