/* Surrounding box for the section title */
.surrounding-box {
    text-align: center;
    margin-bottom: 20px;
}

/* Styles for the room cards within the table */
.roomTable {
    width: 100%; /* Full width to maximize space */
    border-collapse: collapse; /* Removes space between borders */
}

.roomCard {
    padding: 20px; /* Adds padding around each room card */
}

.roomImg {
    display: block;
    max-width: 100%; /* Adjusts the image width up to a maximum of the container width */
    max-height: 200px; /* Limits the image height to 200px */
    height: auto; /* Maintains the aspect ratio */
    margin-bottom: 15px; /* Space below the image */
    object-fit: cover; /* Ensures the image covers the area, might crop */
}

/* Styles for room details to ensure consistent layout */
.room-details {
    text-align: left; /* Aligns text to the left */
}

.amenities-list {
    list-style: none; /* Removes default list styling */
    padding: 0;
    margin-bottom: 15px; /* Space below the list */
}

.amenity-item {
    display: flex;
    align-items: center; /* Centers the bullet and text vertically */
    margin-bottom: 5px; /* Space between amenities */
}

.bookButton {
    display: block; /* Ensures the button is a block element */
    width: max-content; /* Only as wide as its content */
    margin: 10px auto; /* Centers the button horizontally with margin */
    padding: 10px 20px;
}

/* Utility class to clear floats */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
