<body>
  <main>
    <section id="main">
      <section id="booking" class="booking-section">
        <div class="surrounding-box">
          <h1>Book a Room</h1>
        </div>
        <div class="rooms-container">
          <!-- Iterate through each room and display its details -->
          <div *ngFor="let room of rooms" class="room-box">
            <div class="image-container">
              <img [src]="room.image" alt="{{ room.title }}" class="roomImg">
            </div>
            <div class="room-details">
              <h3>{{ room.title }}</h3>
              <p>Cost: ${{ room.cost }}</p>
              <ul class="amenities-list">
                <li *ngFor="let amenity of room.amenities">{{ amenity }}</li>
              </ul>
              <p>{{ room.description }}</p>
              <button class="bookButton" (click)="onSubmit()">Book Now</button>
            </div>
          </div>
        </div>
      </section>
    </section>
  </main>
</body>
