<body>
  <main>
    <section id="main">
      <section id="booking" class="booking-section">
        <div class="surrounding-box">
          <h1>Book a Room</h1>
        </div>
        <div class="rooms-container">
          <div *ngFor="let room of rooms" class="room-box">
            <div class="image-container">
              <img [src]="room.image" alt="{{ room.title }}" class="roomImg">
            </div>
            <h3>{{ room.title }}</h3>
            <p>Cost: ${{ room.cost }}</p>
            <!-- Display amenities as a comma-separated list -->
            <p class="amenities-list">{{ room.amenities.join(', ') }}</p>
            <p>{{ room.description }}</p>
            <button class="bookButton" (click)="onSubmit()">Book Now</button>
          </div>
        </div>
      </section>
    </section>
  </main>
</body>
